<form #frm="ngForm" (ngSubmit)="updateInfo(frm)">
    <div class="">
        <input type="text" name="location" value="" ngModel>
        <button type="submit" name="button">Add Info</button>
    </div>
</form>
<br/>
<button type="button" (click)="getInfoFromService1()">Employee 1</button>
<ul class="list-group">
    <li *ngFor="let info of infoEmp1" class="list-group-info">{{info}}</li>
</ul>
<pre></pre>

<button type="button" (click)="getInfoFromService2()">Employee 2</button>
<ul class="list-group">
    <li *ngFor="let info of infoEmp2" class="list-group-info">{{info}}</li>
</ul>
<pre></pre>

<button type="button" (click)="getInfoFromService3()">Employee 3</button>
<ul class="list-group">
    <li *ngFor="let info of infoEmp3" class="list-group-info">{{info}}</li>
</ul>
<pre></pre>